@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.debug * {
    border: 1px solid black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:active,
a:link,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
}

:root {
    --orange: #d5893c;
    --water-green: #2b6870;
    --dark-green: #183f3e;
    --font-squada: 'Squada One', cursive;
    --font-ubuntu: 'Ubuntu', sans-serif;
}

.bg-orange {
    background-color: var(--orange);
}

.bg-water-green {
    background-color: var(--water-green);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

.text-orange {
    color: var(--orange)!important;
}

.text-water-green {
    color: var(--water-green)!important;
}

.text-dark-green {
    color: var(--dark-green)!important;
}

a.btn-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    padding: 7px 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    transition: 200ms ease-in-out;
}

a.btn-white:hover {
    background-color: transparent;
    color: white!important;
}

body {
    width: 100%;
    font-family: var(--font-ubuntu);
    color: white;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999;
    opacity: 1;
    transition: 500ms ease-in-out;
    pointer-events: none;
}

.main-wrapper {
    width: 90%;
    margin: 100px auto;
}

.card-container {
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    overflow: hidden;
    /* gap: 100px; */
}

.card-item {
    width: 100%;
    height: 460px;
    padding: 40px 50px 40px 30px;
    display: flex;
    flex-flow: column nowrap;
}

.card-item>img {
    width: 60px;
}

.card-item>h2 {
    font-size: 40px;
    font-family: var(--font-squada);
    text-transform: uppercase;
    margin: 20px 0;
}

.card-item>p {
    color: lightgray;
    font-size: 14px;
    line-height: 30px;
    flex: 1 1 auto;
}

@media screen and (max-width: 992px) {
    .card-container {
        flex-flow: column nowrap;
    }
}